<div class="container">
    <div class="mail">
        <div class="mail-info">
            <strong>Trở thành đối tác độc quyền</strong>
            <p>Hãy là người đầu tiên biết về các ưu đãi của chúng tôi</p>
        </div>

        <div class="mail-box">
            <div class="mail-box-input">
                <img src="~/meta-g/assets/icon/footer/mail.svg" alt="">
                <input type="text" placeholder="Để lại email của bạn" />
            </div>
            <button>Gửi</button>
        </div>
    </div>

    <div class="footer-info">
        <div class="logo">
            <a href="#" alt=""><img src="~/meta-g/assets/icon/logoMetaG.png" alt="" /></a>
            <p style="color: #4e28f5">Meta</p>
            <p style="color: #bd4ba3">G</p>
        </div>

        <div class="introduce">
            Chào mừng bạn đến với META-G - nơi tận hưởng trò chơi điện tử đa dạng và
            thú vị. Với hàng ngàn trò chơi từ nhiều thể loại khác nhau, bạn có thể
            trải nghiệm, thư giãn và thách thức bản thân. Giao diện đơn giản, truy
            cập dễ dàng và cập nhật thường xuyên là những điểm mạnh của trang web
            của chúng tôi. Hãy tham gia ngay và khám phá thế giới trò chơi tuyệt vời
            cùng chúng tôi!
        </div>

        <div class="contact">
            <div class="contact-item">
                <img src="~/meta-g/assets/icon/footer/phone.svg" alt="">
                <div class="contact-item-info">
                    <p>Số di động</p>
                    <p class="color">038-383-3838</p>
                </div>
            </div>

            <div class="contact-item">
                <img src="~/meta-g/assets/icon/footer/mail.svg" alt="">
                <div class="contact-item-info">
                    <p>Mail</p>
                    <p class="color">contact@metag.vn</p>
                </div>
            </div>

            <div class="contact-item">
                <img src="~/meta-g/assets/icon/footer/locate.svg" alt="">
                <div class="contact-item-info">
                    <p>Địa chỉ</p>
                    <p class="color">16 Ngõ 204 Trần Duy Hưng, Cầu Giấy, Hà Nội</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-section">
        <div class="bottom-section-col">
            <p class="heading">Hành Động</p>
            <a href="#" class="type">Phiêu lưu</a>
            <a href="#" class="type">Võ Thuật</a>
            <a href="#" class="type">Đối Kháng</a>
            <a href="#" class="type">Bắn Súng</a>
            <a href="#" class="type">XEM TẤT CẢ >></a>
        </div>

        <div class="bottom-section-col">
            <p class="heading">Giải Trí</p>
            <a href="#" class="type">Xây Dựng</a>
            <a href="#" class="type">Âm Nhạc</a>
            <a href="#" class="type">Thời Trang</a>
            <a href="#" class="type">Nấu Ăn</a>
            <a href="#" class="type">XEM TẤT CẢ >></a>
        </div>

        <div class="bottom-section-col">
            <p class="heading">Giáo Dục</p>
            <a href="#" class="type">Từ Vựng</a>
            <a href="#" class="type">Toán Học</a>
            <a href="#" class="type">Ngôn Ngữ</a>
            <a href="#" class="type">Lịch Sử</a>
            <a href="#" class="type">XEM TẤT CẢ >></a>
        </div>

        <div class="bottom-section-col">
            <p class="heading">Giải Đố</p>
            <a href="#" class="type">Trí Tuệ</a>
            <a href="#" class="type">Giải Mã</a>
            <a href="#" class="type">Logic</a>
            <a href="#" class="type">Xếp Hình</a>
            <a href="#" class="type">XEM TẤT CẢ >></a>
        </div>

        <div class="bottom-section-col">
            <p class="heading">Thể Thao</p>
            <a href="#" class="type">Bóng Đá</a>
            <a href="#" class="type">Bóng Rổ</a>
            <a href="#" class="type">Đua Xe</a>
            <a href="#" class="type">Đánh Golf</a>
            <a href="#" class="type">XEM TẤT CẢ >></a>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="social-item-group">
            <div class="social-item"><img src="~/meta-g/assets/icon/socialMedia/discord.svg" alt=""></div>

            <div class="social-item"><img src="~/meta-g/assets/icon/socialMedia/twitter.svg" alt=""></i></div>

            <div class="social-item">
                <img src="~/meta-g/assets/icon/socialMedia/reddit.svg" alt="">
            </div>

            <div class="social-item"><img src="~/meta-g/assets/icon/socialMedia/tiktok.svg" alt=""></div>

            <div class="social-item">
                <img src="~/meta-g/assets/icon/socialMedia/instagram-fill.svg" alt="">
            </div>

            <div class="social-item"><img src="~/meta-g/assets/icon/socialMedia/youtube.svg" alt=""></div>

            <div class="social-item"><img src="~/meta-g/assets/icon/socialMedia/facebook-fill.svg" alt=""></div>
        </div>

        <div class="copyright">© 2023, All Rights Reserved</div>
    </div>
</div>

