
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="banner-background">
    <div class="first-div"></div>
    <div class="second-div"></div>
</div>

<img src="~/meta-g/assets/images/homePage/banner/lego.png" alt="" />

<div class="text">
    <h2>Trở thành đối tác</h2>
    <h1>Độc quyền</h1>
</div>

<div class="contact-div">
    <div class="contact-content">
        Nhận được mức giá <span>ưu đãi</span> và <br />
        nhiều quyền lợi
        <p>Liên hệ với đội ngũ của <span>Meta-G</span> ngay!</p>

        <button alt="" class="contact-style max-size">Liên hệ ngay</button>
    </div>
</div>