
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="border-second-slide-section">
    <div class="second-slide-section swiper-group2">
        <div class="heading">
            <div class="nav-btn-group">
                <div class="nav-btn swiper-button-prev backward-button-group2">
                    <div class="backward-btn"></div>
                </div>
                <div class="nav-btn swiper-button-next forward-button-group2">
                    <div class="forward-btn"></div>
                </div>
            </div>

            <p>trò chơi thách đấu</p>
        </div>

        <div class="slide-banner">
            <div class="first-div second-banner-first-div-width"></div>

            <img class="rocket"
                 src="~/meta-g/assets/images/homePage/slideBanner/rocket.png"
                 alt="" />
            <img class="rectangle"
                 src="~/meta-g/assets/images/homePage/slideBanner/Rectangle.png"
                 alt="" />
            <img class="union"
                 src="~/meta-g/assets/images/homePage/slideBanner/Union.png"
                 alt="" />
            <img class="moneybag"
                 src="~/meta-g/assets/images/homePage/slideBanner/moneyBag.png"
                 alt="" />
            <img class="eclipse"
                 src="~/meta-g/assets/images/homePage/slideBanner/Ellipse.png"
                 alt="" />
            <img class="vector"
                 src="~/meta-g/assets/images/homePage/slideBanner/Vector.png"
                 alt="" />
            <img class="vector-mobile"
                 src="~/meta-g/assets/images/homePage/slideBanner/vector-mobile.svg"
                 alt="" />

            <div class="second-banner-text">
                <h1>THÁCH ĐẤU NGAY</h1>
                <h2 class="desktop">CHƠI CÙNG BẠN BÈ HOẶC THÁCH ĐẤU NGƯỜI CHƠI KHÁC</h2>
                <h2 class="mobile">Nhận quà liền tay</h2>
            </div>
        </div>

        <div class="swiper-wrapper game-item-group">
            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/lol.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/farm.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">Nông trại vui vẻ</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Giải Trí - Nông Trại</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>HaloCenter</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/valorant.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">Valorant</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/gunny.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/garden.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/csgo.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/lol.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/farm.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">Nông trại vui vẻ</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Giải Trí - Nông Trại</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>HaloCenter</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/valorant.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">Valorant</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/gunny.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/garden.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/csgo.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

        </div>
    </div>
</div>