
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="border-second-slide-section">
    <div class="second-slide-section swiper-group">
        <div class="heading">
            <div class="nav-btn-group">
                <div class="nav-btn swiper-button-prev backward-button-group">
                    <div class="backward-btn"></div>
                </div>
                <div class="nav-btn swiper-button-next forward-button-group">
                    <div class="forward-btn"></div>
                </div>
            </div>

            <p>chơi game có thưởng</p>
        </div>

        <div class="slide-banner">
            <div class="first-div">
                <div class="parallelogram num1"></div>
                <div class="parallelogram num2"></div>
                <div class="parallelogram num3"></div>
                <div class="parallelogram num4"></div>
            </div>

            <img src="~/meta-g/assets/images/homePage/slideBanner/RATING.png"
                 class="rating"
                 alt="" />
            <img src="~/meta-g/assets/images/homePage/slideBanner/gift.png" class="gift" alt="" />
            <div class="text">
                <h2>CHƠI GAME NGAY</h2>
                <h1>NHẬN QUÀ LIỀN TAY</h1>
            </div>
        </div>

        <div class="swiper-wrapper game-item-group">
            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/lol.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/farm.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">Nông trại vui vẻ</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Giải Trí - Nông Trại</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>HaloCenter</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/valorant.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">Valorant</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/gunny.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/garden.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/csgo.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/lol.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/farm.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">Nông trại vui vẻ</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Giải Trí - Nông Trại</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>HaloCenter</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/valorant.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">Valorant</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/gunny.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/garden.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

            <div class="game-item swiper-slide">
                <div class="left-content">
                    <img src="~/meta-g/assets/images/homePage/game-item/csgo.png" alt="" />
                    <div class="score">4,5</div>
                </div>

                <div class="right-content">
                    <div class="info">
                        <div class="info-heading">
                            <p class="game-name">League of Legends</p>
                            <p class="release-date">
                                Ngày ra mắt: 16/09/2023
                            </p>
                        </div>

                        <div class="lines">
                            <div class="info-line">
                                <p>Người chơi:</p>
                                <span>1.123.234</span>
                            </div>
                            <div class="info-line">
                                <p>Thể loại:</p>
                                <span>Hành Động - Chiến Thuật</span>
                            </div>
                            <div class="info-line">
                                <p>Nhà cung cấp:</p>
                                <span>RiotGames</span>
                            </div>
                        </div>
                    </div>

                    <a href="./pages/gameDetail.html" alt="" class="styled-btn">CHƠI NGAY</a>
                </div>
            </div>

        </div>
    </div>
</div>
